<!DOCTYPE html>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="vue-getset.js"></script>
<script src="https://unpkg.com/jquery"></script>
<link href="https://unpkg.com/bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/bootstrap3/dist/js/bootstrap.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-select/dist/css/bootstrap-select.min.css">
<script src="https://unpkg.com/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

<script>
var currencyValidator = {
  format: function (number) {
    return (Math.trunc(number * 1000000000000) / 1000000000000).toFixed(2)
  },
  parse: function (newString, oldNumber) {
    var CleanParse = function (value) {
      return { value: value }
    }
    var CurrencyWarning = function (warning, value) {
      return {
        warning: warning,
        value: value,
        attempt: newString
      }
    }
    var NotAValidDollarAmountWarning = function (value) {
      return new CurrencyWarning(newString + ' is not a valid dollar amount', value)
    }
    var AutomaticConversionWarning = function (value) {
      return new CurrencyWarning(newString + ' was automatically converted to ' + value, value)
    }

    var newNumber = Number(newString)
    var indexOfDot = newString.indexOf('.')
    var indexOfE = newString.indexOf('e')

    if (isNaN(newNumber)) {
      if (
        indexOfDot === -1 &&
        indexOfE > 0 &&
        indexOfE === newString.length - 1 &&
        Number(newString.slice(0, indexOfE)) !== 0
      ) {
        return new CleanParse(oldNumber)
      } else {
        return new NotAValidDollarAmountWarning(oldNumber)
      }
    }

    var newCurrencyString = currencyValidator.format(newNumber)
    var newCurrencyNumber = Number(newCurrencyString)

    if (newCurrencyNumber === newNumber) {
      if (indexOfE !== -1 && indexOfE === newString.length - 2) {
        return new AutomaticConversionWarning(newNumber)
      } else {
        return new CleanParse(newNumber)
      }
    } else {
      return new NotAValidDollarAmountWarning(
        newNumber > newCurrencyNumber
          ? newCurrencyNumber
          : oldNumber
      )
    }
  }
}
</script>

<script>
Vue.component('currency-input', {
  template: '\
    <div>\
      <label v-if="label">{{ label }}:</label>\
      {{ currency }}\
      <input\
        ref="input"\
        v-bind:value="value"\
        v-on:input="updateValue($event.target.value)"\
        v-on:focus="selectAll"\
        v-on:blur="formatValue"\
      >\
    </div>\
  ',
  props: {
    value: {
      type: Number,
      default: 0
    },
    label: {
      type: String,
      default: ''
    },
    currency: {
    	type: String,
      default: '$'
		}
  },
  mounted: function() {
    this.formatValue()
  },
  methods: {
    updateValue: function(value) {
      var result = currencyValidator.parse(value, this.value)
      if (result.warning) {
        this.$refs.input.value = result.value
      }
      this.$emit('input', result.value)
    },
    formatValue: function() {
      this.$refs.input.value = currencyValidator.format(this.value)
    },
    selectAll: function(event) {
      // Workaround for Safari bug
      // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
      setTimeout(function() {
        event.target.select()
      }, 0)
    }
  }
})
</script>

<div id="template">
	<div>
		<hr>
		<router-link to="/foo/a">Go to Foo-A</router-link>
		<router-link to="/foo/b">Go to Foo-B</router-link>
		<router-link to="/bar">Go to Bar</router-link>
		
		<hr>Router view:<br>
		<router-view></router-view>
		
		
		<hr>V-IF: <br>
		<view-foo id=vfooa v-if="$route.path == '/foo/' + 'a'"></view-foo>
		<view-bar id=vbar v-if="$route.path == '/bar'"></view-bar>
		<view-bar id=vbar2 v-if="$route.path == '/bar'"></view-bar>


		<hr>
		<editar-pessoa :nome="nome" :idade="idade" id="frg"></editar-pessoa>

		<p>Dias de vida:<br>
		<currency-input label="" v-model="diasVida" currency=""></currency-input>
		</p>

		<p>Dias de vida:<br> {{ diasVida }}</p>

	</div>
</div>

<template id="viewFoo">
	<div>
		Foo: <input type="text" v-model="texto">
	</div>
</template>

<template id="viewBar">
	<div>
		Bar: <input type="text" v-model="texto">
	</div>
</template>

<template id="editarPessoa">
	<div class="abc">
		<p>Nome:<br><input v-model="nome"></p>
		<p>Idade:<br> <input v-model="idade"></p>
	</div>
</template>


<script>
viewFoo.component = Vue.component(viewFoo.id, {
	template: viewFoo.innerHTML
	, data: function() {
		return { texto: 'inicial-foo' };
	}
});

vuecomp(viewBar, { texto: 'inicial-bar' } );


editarPessoa.component = Vue.component(editarPessoa.id, {
	template: editarPessoa.innerHTML
	, props: ['nome', 'idade']
});

app = new Vue({
	el: '#template'
	, data: {
		nome: 'fernando reis guimaraes'
		, idade: 32
		, diasVida: 32*365
		, pai: { nome: 'antonio', nascano: 1964 }
		, mae: { nome: 'sandra', nascano: 19698  }
	}
	, router: new VueRouter({
		routes: [
		  { path: '/foo/:id', component: viewFoo.component },
		  { path: '/bar', component: viewBar.component }
		]
	})
});
</script>
