<!DOCTYPE html>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<!-- <script src="https://unpkg.com/vue-getset"></script> -->
<script src="vue-getset.js"></script>
<script src="https://unpkg.com/jquery"></script>
<link href="https://unpkg.com/bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/bootstrap3/dist/js/bootstrap.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-select/dist/css/bootstrap-select.min.css">
<script src="https://unpkg.com/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

<div id="template">
	<div>		
		<hr>
		<router-link to="/foo/a">Go to Foo-A</router-link>
		<router-link to="/foo/b">Go to Foo-B</router-link>
		<router-link to="/bar">Go to Bar</router-link>
		
		<hr>Router view:<br>
		<router-view></router-view>
		
		
		<hr>V-IF: <br>
		<view-foo id="if-foo-a"    v-if="$route.path.startsWith('/foo/a')"></view-foo>
		<view-foo id="if-foo-b"    v-if="$route.path.startsWith('/foo/b')"></view-foo>
		<view-bar id="if-bar"      v-if="$route.path == '/bar'"></view-bar>
		
	</div>
</div>

<template id="viewFoo">
	<div>
		Foo({{ id }}): <input type="text" v-model="texto">
	</div>
</template>

<template id="viewBar">
	<div>
		Bar({{ id }}): <input type="text" v-model="texto">
	</div>
</template>

<script>
vuecomp(viewFoo, { texto: 'inicial-foo' } );
vuecomp(viewBar, { texto: 'inicial-bar' } );

app = new Vue({
	el: '#template'
	, data: {
		nome: 'fernando reis guimaraes'
		, idade: 32
		, diasVida: 32*365
		, pai: { nome: 'antonio', nascano: 1964 }
		, mae: { nome: 'sandra', nascano: 19698  }
	}
	, router: new VueRouter({
		routes: [
		  { path: '/foo/:id', component: viewFoo.component, props: true },
		  { path: '/bar', component: viewBar.component, props: true }
		]
	})
});
</script>
